
header {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;

    
}


h1{
    margin: 0 0 8px 0;
    color : var(--blue-600);
}

strong {
    color: var(--blue-400);
}